@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    /*font-family: 'Open Sans', sans-serif;*/
}

body{
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-color: var(--violet);
}
/* Mockup */
.container__mockup__img{
    width: 100%;
}

/* Content */
.container__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__content__title,
.container__content__description{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.container__content__title{
    font-size: 2rem;
    font-weight: 600;
}

.container__content__description{
    font-weight: 400;
    margin: 2rem 0;
}

.container__content__button{
    font-family: 'Open Sans', sans-serif;
   border: none;
   background-color: white;
   color: var(--violet);
   width: 80%;
   padding: 0.8rem 0rem;
   border-radius: 2rem;  
   font-weight: 400;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.container__content__button:hover{
    background-color: var(--soft-magenta);
    color: white;
    cursor:pointer;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
}

ion-icon{
    color: white;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

ion-icon:hover{
    color: var(--soft-magenta);
    border-color: var(--soft-magenta);
}