@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    /*font-family: 'Open Sans', sans-serif;*/
}

body{
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;
    height: 100%;
    min-width: 25rem;
    background-size: cover;
    background-color: var(--violet);
    margin: 2rem;
}

/*Header */
.header__img{
    max-width: 10rem;
}

/* Mockup */
.container__mockup__img{
    width: 100%;
    margin: 4rem 0;
}

/* Content */
.container__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__content__title,
.container__content__description{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.container__content__title{
    font-size: 2rem;
    font-weight: 600;
}

.container__content__description{
    font-weight: 400;
    margin: 2rem 0;
}

.container__content__button{
    font-family: 'Open Sans', sans-serif;
   border: none;
   background-color: white;
   color: var(--violet);
   width: 80%;
   padding: 0.8rem 0rem;
   border-radius: 2rem;  
   font-weight: 400;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.container__content__button:hover{
    background-color: var(--soft-magenta);
    color: white;
    cursor:pointer;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

ion-icon{
    color: white;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

ion-icon:hover{
    color: var(--soft-magenta);
    border-color: var(--soft-magenta);
}

@media (min-width: 50rem){
    body{
        height: 100vh;
        width: 90%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container__mockup{
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container__mockup__img{
        margin: 0;
    }

    .container__content{
        flex: 0 0 40%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .container__content__title,
    .container__content__description{
        text-align: left;
    }

    footer{
        margin: 0;
        justify-content: flex-end;
    }
}